fastapi==0.70.0
numpy==1.19.5
pandas==1.1.5
pydantic==1.8.2
python-multipart==0.0.5
requests==2.22.0
starlette==0.16.0
torch==1.10.0
torchvision==0.2.1
tqdm==4.23.0
typing_extensions==4.0.1
uvicorn==0.15.0
Cython
opencv-python
matplotlib