fastapi==0.70.0
uvicorn==0.15.0
numpy==1.19.5
pandas==1.1.5
pydantic==1.8.2
python-multipart==0.0.5
starlette==0.16.0
torch==1.10.0
torchvision==0.2.1
tqdm==4.23.0
PyYAML
Cython
opencv-python
matplotlib